*{
  
    font-family: 'Dancing Script', cursive;
    
    
}
.container1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0,7),rgba(0,0,0,0,7),url(Back1.jpeg));
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background:url(Back1.jpeg)no-repeat;
    background-attachment: scroll;
    background-size: cover;
    animation: change 20s infinite ease-in-out;
}
.header{
    height: 100px;
    width: 100%;
    background-color: rgba(75, 52, 23, 0.127);
    position: fixed;
}
.header_navbar {
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_navbar-logo-title{
    margin-left: 40px;
    color: aliceblue ;
    font-size: 30px; 
    font-family: 'Poppins', sans-serif;
}
.header_navbar-menu-link{
    margin-left: 40px;
    color: #fff;
    text-decoration: none;
}


.row{
    display: flex;
    height: 100%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding:15px 25px ;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card{
    background-image: url(card3.jpg);
}
.card2{
    background-image: url(card2.jpg);
}
.card3{
    background-image: url(card1.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
@keyframes transform{
    0%,100%{
        /*background-image: url(/static/imagesAcc/acc.jpg);*/
        background-image:url(back2.jpg);

    }
    25%
    {
        background-image:url(back3.jpg);

    }
    50%
    {
        background-image:url(back4.jpg);

    }
    75%
    {
        background-image:url(back5.jpg);

    }
}
@keyframes change {
    0%
    {
        background-image: url(back2.jpeg);
    }
    25%
    {
        background-image: url(back3.jpg);
    }
    50%
    {
        background-image: url(back4.jpeg);
    }
    75%
    {
        background-image: url(back5.jpg);
    }
    100%
    {
        background-image: url(Back1.jpeg);
    }
}
.heading{
    text-align: center; 
    font-size: 70px; 
    color:#333; 
    padding:10spx; 
    margin:2rem 0; 
    background:rgba(178, 143, 112, 0.243);
    
 }

.heading span{
color:rgba(158, 104, 60, 0.336); 
font-size: 70px ; 
}

.heading{
    font-size: 3rem;
}

.about .row{
    display:flex; 
    align-items:center; 
    gap:2rem; 
flex-wrap: wrap;
padding:2rem 0; 
padding-bottom: 3rem;
}
.about .row .video-container{
    flex:1 1 40rem; 

}
.about .row .video-container video{
    width:100%;
    border:1.5rem solid #fff; 
    border-radius: .5rem; 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    height: 120%;
    left: 100%;
    object-fit:cover;
   


}
.about .row .content h3{
 position: relative ;
 top:100%; 
 color:#333;
 background: #ffffff00;
 width:100%; 

text-align: center;

}
.about .row .content{
    flex:1 1 40rem;
    padding-left: 2px;
padding-right: 200px;
}
 .about .row .content h3{
    position: absolute; /* postulat de départ */
    top: 130%; left: 70%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    font-size: 3rem;
  
 } 
 .about .row .content p{
    font-size: 1.5rem;
    color: #999;
    position: absolute; /* postulat de départ */
    top:160%; left: 70%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -60%); /* décalage de 50% de sa propre taille */

} 
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;   
   
 }
 .testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
top: 100%;
 }
 .testimonial-heading h1{
 font-size: 2.2rem;
 font-weight:500;
 background-color: #202020;
 color: #ffffff;
 padding: 0px 0px;
 }
 .testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
 }
 .testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
 }
 .testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
 }
 .profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
 }
 .profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
 }
 .profile{
    display: flex;
    align-items: center;
 }
 .name-user{
    display: flex;
    flex-direction: column;
 }
 .name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
 }
 .name-user span{
    color: #979797;
    font-size: 0.8rem;
 }
 .reviews{
    color: #f9d71c;
 }
 .box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
 }
 .client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
 }
 .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
 }
 
 @media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
 }
 @media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
 }
 @media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
 }
 ::selection{
    color: #ffffff;
    background-color: #252525;
 }
 #testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;   
    
 }
 .testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
 }
 .testimonial-heading h1{
color:rgba(158, 104, 60, 0.336); 
font-size: 70px ; 

 font-weight:500;
 background:rgba(178, 143, 112, 0.243);

 padding: 0px 700px;
 top:1220%; left: 70%;
 }
 .testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
 }
 .testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
 }
 .testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
 }
 .profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
 }
 .profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
 }
 .profile{
    display: flex;
    align-items: center;
 }
 .name-user{
    display: flex;
    flex-direction: column;
 }
 .name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
 }
 .name-user span{
    color: #979797;
    font-size: 0.8rem;
 }
 .reviews{
    color: #f9d71c;
 }
 .box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
 }
 .client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
 }
 .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
 }
 
 @media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
 }
 @media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
 }
 @media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
 }
 ::selection{
    color: #ffffff;
    background-color: #252525;
 }